Q1. What is a database? Differentiate between SQL and NoSQL databases.


A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

SQL databases are primarily called as Relational Databases (RDBMS); whereas NoSQL database are primarily called as non-relational or distributed database. 

SQL is one of the most versatile and widely-used options available which makes it a safe choice especially for great complex queries. But from other side it can be restrictive. SQL requires you to use predefined schemas to determine the structure of your data before you work with it. Also all of your data must follow the same structure. This can require significant up-front preparation which means that a change in the structure would be both difficult and disruptive to your whole system. 

A NoSQL database has dynamic schema for unstructured data. Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based or organized as a KeyValue store. This flexibility means that documents can be created without having defined structure first.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL refers to the data definition language.

Create : is used to create database,tables

eg.

    create table test_table(id int,name varchar(10),salary int);
    
drop : is used to delete the table and databases

eg.
    
    drop table test;
    
alter : is used to modify the column values and datatype of columns

eg.
    
    alter table test drop name ;
    
truncate :it temporarily deletes the data 

eg.

    truncate from test;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML refers to Data manipulation language. used to insert,update or delete the records from a table.

INSERT : used to insert data in a table

eg.

    insert into test(1,'Prabhat',20000);

UPDATE : update the records

eg.

    update test set name = 'Kaushal' where id = 1;
    
Delete : deletes the record

eg.
   
   delete from test where id = 1;

Q4. What is DQL? Explain SELECT with an example.

Query languages, often known as DQLs or Data Query Languages, are computer languages that are used to make various queries in information systems and databases.

Select : SELECT statement is used to select data from a database.

eg.

    select * from test;

Q5. Explain Primary Key and Foreign Key.

A relational database is designed to enforce the uniqueness of primary keys by allowing only one row with a given primary key value in a table. A foreign key is a column or a set of columns in a table whose values correspond to the values of the primary key in another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector


mydb = mysql.connector.connect(

    host="localhost",

    user="abc",

    password="password"
)
mycursor = mydb.cursor()

mycursor.execute("select * from company.employee;")


for i in mycursor.fetchall():
    
    print(i)

mydb.close()

cursor() : The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database. Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

execute() : The EXECUTE statement/command is used to execute the prepared statement.

Q7. Give the order of execution of SQL clauses in an SQL query.

SELECT O.name,
	(P.price * O.quantity) AS total_spent
FROM Orders O
JOIN Products P
	ON O.product_id = P.id
WHERE P.price * O.quantity < 50
ORDER BY total_spent DESC